<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Table_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-table_name" class="form-control" name="row[table_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Fanyi_fields')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-fanyi_fields" class="form-control " rows="5" name="row[fanyi_fields]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
